{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/css1.css' %}">
    
</head>
<body>
<center>
<u> <h1>krishna is my favourate god</h1></u>
    <img src="{% static 'images/krishna.jpeg' %}" alt="krishna" srcset="">
    <u><H1 id="three" style="color: rgb(255, 0, 60);"> <marquee > SRI KRISHNA  BHAGVAN </marquee> </H1></u>
</center>

<left>

    <img  id='two' src="{% static 'images/left.jpeg' %}" alt="left" srcset="">
   <u><H1> <marquee > SRI KRISHNA  BHAGVAN </marquee> </H1></u>
    </left>
    <center>
    <img  id="one" src="{% static 'images/cow2.css' %}" alt="cow2" srcset="">

    </center>



</body>
</html>